*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
}

.intro {
    height: 100vh;
}

.intro video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.imageArea h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 70px;
    color: #f5f7ec;
}

section{
    height: 100vh;
    color: darkgrey;
}

section h1 {
    padding-top: 300px;
    text-align: center;
    font-size: 80px;
}

.imageArea img{
    height: 100;
    width: 100%;
    object-fit: cover;
}

span{
    opacity: 0;
    transition: all 0.4s ease;
    transform: translateY(50px);
    display: inline-block;
}

span.fade{
    opacity: 1;
    transform: translateY(0px);
}